apiVersion: v1
kind: Service
metadata:
  name: sample-app-service
spec:
  selector:
    app: sample-app
  type: NodePort
  ports:
    - port: 8085        # internal cluster port
      targetPort: 8085  # container port
      nodePort: 30085   # accessible from host
